
h1 {
    font-size: 3em;
}
a{
    text-decoration: none;
    background-color: purple;
    color: white;
    padding: 5px;
    transition: 0.5s;
    border-radius: 8px;
}
a:hover{
    background-color: blueviolet;
    color: black;
    transition: 0.5s;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: #1a1a1a;
}

.listaPosts{  
    padding-bottom: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}
.postIndivid{
    background-color: #3e3f40;
    border: black solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    padding: 0 0.5em 0 0.5em;
}

.formNew{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3e3f40;
    border: black solid;
    border-radius: 20px;
    padding: 0.5em;
    gap: 1em;
}
.formField input{
    border-radius: 8px;
}
.formField{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
textarea{
    resize: none;
    border-radius: 10px;
    
}
.botao input, .show button{
    text-decoration: none;
    background-color: purple;
    color: white;
    padding: 5px;
    transition: 0.5s;
    border-radius: 8px;
    cursor: pointer;
    
}
.botao input:hover, .show button:hover {
    background-color: blueviolet;
    color: black;
    transition: 0.5s;
}
.show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
}
.show div{
    display: flex;
    gap: 0.5em;
}